<div class="column">
    <nav class="panel">
        <p class="panel-heading">
            Who to follow
        </p>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Navya Arora</strong>
                        <small>@navya_arora</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Muskan Dembla</strong>
                        <small>@muski</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
     <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Tanuj Ahuja</strong>
                        <small>@duffer_ahuja</small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    </nav>
</div>